body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F8F9;
}

header {
    height: 100px;
    background-color: white;
}

.logo {
    padding-top: 20px;
    padding-left: 30px;
}

h1 {
    display: inline;
    font-size: 50px;
    vertical-align: bottom;
}

.add {
    max-width: 900px;
    height: 100px;
    background-color: white;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.add-b {
    border: 1px solid black;
    border-radius: 5px;
    display: inline;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    color: white;
    padding: 3px;
    vertical-align: middle;
}

.t-button {
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
}

